.btn-login {
  color: #fff;
  background-color: #52d1d5;
  border-color: #52d1d5;
  font-weight: 300;
  font-family: "Flama", serif;
}
.btn{
  width:100%;
}

.border-primary {
  border-color: #fff !important;
}
.modal-footer{
  margin-left: 0%;
  margin-right: 0%;
  padding-left: 0%;
  padding-right: 0%;
}
