<div class="container col-sm mt-5">
  <div class="">
    <div class="card-body">
      <div class="row m-3 card-title" style="text-align: center;">
        <h1 data-aos="fade-down" data-aos-delay="100" data-aos-duration="2300" class="text-secondary mt-0">Creación</h1>
      </div>
      <div class="row m-3" style="justify-content: center;">

        <div class="col-2 fila" data-aos="fade-up" data-aos-delay="10000000" data-aos-duration="1400">
          <div class="card border-success mb-3 bg-transparent card-creacion-grupo">
            <h1 class="text-secondary creacion-fecha mt-0">22</h1>
          </div>
        </div>
        <div class="col-2 fila" data-aos="fade-up" data-aos-delay="10000000" data-aos-duration="2300">
          <div class="card border-success mb-3 bg-transparent card-creacion-grupo">
            <h1 class="text-secondary creacion-fecha mt-0">09</h1>
          </div>
        </div>
        <div class="col-3 fila" data-aos="fade-up" data-aos-delay="100" data-aos-duration="2900">
          <div class="card border-success mb-3 bg-transparent card-creacion-grupo" style="max-width: 17rem;">
            <h1 class="text-secondary creacion-fecha mt-0">2015</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
