.btn-closed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.8rem;
    border-radius: 0.35rem !important;
    width: 100px;
    padding: 5px;
  }

.modal-footer{
    padding: 10px 20px;
}
