<div class="col">
  <div class="card shadow p-4 p-xl-5 mb-4 text-center position-relative">
    <div class="banner"></div>
    <span class="img-circle mx-auto mb-3">{{regla.numero}}</span>
    <div class="text-left mb-4">
      <p class="mb-2" style="text-justify: inter-word; text-align: justify">{{regla.contenido}}</p>
    </div>
    <div class="social-links d-flex justify-content-center" *ngIf="puedeVer">
      <button type="submit" class="btn  btn-closed mt-3 btn-block btn-login" (click)="openEditarReglaModal()">Ver Mas</button>
    </div>
  </div>
</div>


