span{
  font-family: "Noto-SansJP-Light" !important;
  color: #55e3c9;
}
footer {
  padding: 10px 5px;
  /*position: fixed;
  bottom: 0;
  width: 100%;*/
  background-color: rgb(57, 96, 148) !important;
}
footer a:hover {
  color: #889ab9;
}
