<div class="historiaContainer">
  <div class="mb-4" data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">
    <h1 class="text-secondary mt-0">Historial de Administradores.</h1>
  </div>
  <mzd-timeline>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content>
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile">Edad Oscura (2015-2018)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido">
            Previo a <strong>M&M</strong>, el grupo no poseia orden ni reglas. Cada uno podia no responder a una invitacion, se podia nombrar a cualquier persona y la toxicidad estaba permitida. Todo cambio con el nacimiento de
            <strong>M&M</strong>.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content class="pt-2">
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores(2018-2019)</h5>
          <p class="card-text textoHistoriaMobileContenido" style=" text-align: justify;">
            La primera tanda de administradores, los cuales crearon las reglas fueron <strong>M&M</strong>
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content>
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores(2019)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
            La segunda tanda de administradores, luego de la derroca de <strong>M&M</strong> fue conformada por Mathias Rabahia y Eduardo Yujra.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content >
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores(2019)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
            La tercera tanda de administradores fue conformada por Santiago Vera y Matias Nicolas Notario.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content >
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores (2019-2020)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
            Al finalizar el mandato, la administracion se renovo reemplazando a Matias Notario por Matias Albacetti.
            Formando una cuarta tanda de administradores conformada por Matias Albacetti y Santiago Vera.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content >
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores (2020-2021)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
           La quinta tanda de administradores volvio a tener a Matias Albacetti y a Mathias Rabahia formando un nuevo <strong>M&M</strong>.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content >
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores (2021)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
            La sexta tanda de administradores fue formada porSantiago Vera y Mathias Rabahia.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
    <mzd-icon></mzd-icon>
    <mzd-timeline-content>
      <div class="card mb-3 bg-light">
        <div class="card-body">
          <h5 class="card-title text-primary textoHistoriaMobile"> Administradores (2021-actualidad)</h5>
          <p class="card-text texto-card-historia textoHistoriaMobileContenido" style=" text-align: justify;">
            La septima tanda de administradores esta formada por Matias Albacetti y Nicolas Ramis conformaron.
          </p>
        </div>
      </div>
    </mzd-timeline-content>
  </mzd-timeline>
</div>
