<section class="bg-light">
  <div class="container">
    <div class="col">
      <div class="row parent">
        <app-perfil-profile-picture></app-perfil-profile-picture>
      </div>
      <div class="row m-4 p-0 rounded-lg d-block d-sm-flex">
        <app-perfil-datos-personales></app-perfil-datos-personales>
      </div>
      <div class="row m-4 p-0 rounded-lg d-block d-sm-flex">
        <app-perfil-datos-cuenta></app-perfil-datos-cuenta>
      </div>
      <div class="row m-4 p-0 rounded-lg d-block d-sm-flex">
        <app-perfil-medios-pago></app-perfil-medios-pago>
      </div>
    </div>
  </div>
</section>

